[*.cs]

# IDE0025: Use expression body for property
csharp_style_expression_bodied_properties = false

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = false

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none
